body {
    margin: 0%;
}

.header,
.hero
{
    display: flex;
    gap: 20px;
    padding: 20px 60px 80px 20px;
    justify-content: flex-end;
    background-color: #1F2937;
}

.logo {
    margin-right: auto;
    margin-left: 80px;
    font-size: 24px;
    color: #F9FaF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    align-self: center;
}

.hero {
    display: flex;
    padding: 20px 60px 80px 100px;
}

.hero .main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
    flex-basis: 1000px;
}

.hero .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.button1 {
    background-color: #3882F6;
    color: white;
    border: 0;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.placeholder {
    display: flex;
    justify-content: center;
    background-color: rgba(151, 153, 158, 0.504);
    color: #E5E7EB;
    flex-basis: 1000px;
    height: 180px;
    padding: 10px
}

.placeholder > p {
    align-self: center;
    text-align: center;
    width: 100%;
}

.gallery-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
}

.gallery-title {
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
}

.gallery h4 {
    align-self: center;
    text-align: center;
}

.outer {
    display: flex;
    flex: 0 0 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.images {
    border: 4px solid #3882F6;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.quotes {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 100px 250px 100px 250px;
}

.text {
    margin: 0;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;

    color: #1F2937;
}

.author {
    font-weight: bold;
    align-self: flex-end;
}

.ad {
    display: flex;
    height: 400px;
    width: auto;
    justify-content: center;
}

.ad-box {
    display: flex;
    align-self: center;
    justify-content: space-around;
    border: 2px solid black;
    background-color: #3882F6;
    flex-basis: 700px;
    height: 100px;
    padding: 10px
}

.ad-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px
}

.ad-text p {
    margin: 0px;
    color: white;
}

.ad-text .one {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FaF8;
}

.ad-text .two {
    color: #E5E7EB;
}

.ad-button {
    align-self: center;
    height: 40px;
    width: 120px;
    background-color: #3882F6;
    color: #F9FaF8;
    font-weight: bolder;
    border: 3px solid white;
    padding: 2px 20px 2px 20px;
    border-radius: 5px;
}

/* Tasks to Complete * = Complete 
5. Section 4 (Ad) *
    - Not showing up for some reason due to overflow, sometimes work sometimes doesn't
6. Footer  

Complete
1. Header
    - Row Flex Layout * 
    - Correct Spacing *
    - Add color to fonts & background *
2. Section 1 (Intro/Hero) *
    - figure out placeholder issue  = used guide https://ericsu.me/tech/2016/07/04/creating-image-placeholder.html *
    - Center placeholder text = made text child of flex *
    - Create button *
    - Adjust spacing *
3. Section 2 (Images) *
    - Correct spacing * 
    - Add CSS styling *
    - maintain text under placeholder w/o having a border for the text, just images in order to align everything properly = make another div *
4. Section 3 (Quotes)
    - Styling *
    - Layout *
*/